.filterPanel {
  display: flex;
  flex-direction: column;
  width: 408px;
  background-color: #fff;
  padding: 24px;
  gap: 20px;
  border-radius: 8px;
}

.heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
